<div class="container main-container">
    <h1>Demo Cadastro</h1>
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
        <div class="row">
            <div class="col-6">
                Nome:
                <input id="nome" class="form-control" placeholder="Nome (requerido)" formControlName="nome"
                    [ngClass]="{'is-invalid': displayMessage.nome}" />
                <span class="text-danger" *ngIf="displayMessage.nome">
                    <p [innerHTML]="displayMessage.nome"></p>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                Cpf:
                <input id="cpf" class="form-control" placeholder="Cpf (requerido)" formControlName="cpf"
                    [ngClass]="{'is-invalid': displayMessage.cpf}" cpf [textMask]="{mask: masks.cpf.textMask}" />
                <span class="text-danger" *ngIf="displayMessage.cpf">
                    <p [innerHTML]="displayMessage.cpf"></p>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                E-mail:
                <input id="email" type="email" class="form-control" placeholder="E-mail (requerido)"
                    formControlName="email" [ngClass]="{'is-invalid': displayMessage.email}" />
                <span class="text-danger" *ngIf="displayMessage.email">
                    <p [innerHTML]="displayMessage.email"></p>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                Senha:
                <input id="senha" type="password" class="form-control" placeholder="Senha (requerido)"
                    formControlName="senha" [ngClass]="{'is-invalid': displayMessage.senha}" />
                <span class="text-danger" *ngIf="displayMessage.senha">
                    <p [innerHTML]="displayMessage.senha"></p>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                Confirmar Senha:
                <input id="confirmacaoSenha" type="password" class="form-control" placeholder="Confirme sua senha (requerido)" 
                    formControlName="confirmacaoSenha" [ngClass]="{'is-invalid': displayMessage.confirmacaoSenha}" />
                <span class="text-danger" *ngIf="displayMessage.confirmacaoSenha">
                    <p [innerHTML]="displayMessage.confirmacaoSenha"></p>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <br />
                <button id="btnConcluir" class="btn btn-success" [disabled]="!cadastroForm.valid" type="submit">
                    Concluir cadastro
                </button>
            </div>
        </div>

        <hr />
        <h3>Status formulário:</h3>
        <p>Formulário válido: {{cadastroForm.valid}}</p>
        <p>Formulário tocado: {{cadastroForm.touched}}</p>
        <p>Formulário sujo: {{cadastroForm.dirty}}</p>
        <p><b>Resultado Submit: {{formResult}}</b></p>
    </form>

</div>