<div class="task-list">
    <h3>
        <ng-content></ng-content>
    </h3>

    <table class="table table-striped table-hover">
        <tbody>
            <tr *ngFor="let item of list; index as i">
                <td>
                    <span>{{ item.nome }}</span>
                </td>
                <td>
                    <a *ngIf="!item.iniciado && !item.finalizado" class="action" href="javascript:void(0)"
                        (click)="toggleItem(i, 'iniciar')">
                        <i class="fa fa-arrow-right text-primary"></i>
                    </a>

                    <a *ngIf="item.iniciado && !item.finalizado" class="action" href="javascript:void(0)"
                        (click)="toggleItem(i, 'cancelar')">
                        <i class="fa fa-arrow-left text-warning"></i>
                    </a>
                    <a *ngIf="item.iniciado && !item.finalizado" class="action" href="javascript:void(0)"
                        (click)="toggleItem(i, 'finalizar')">
                        <i class="fa fa-check text-success"></i>
                    </a>

                    <a *ngIf="item.finalizado" class="action" href="javascript:void(0)"
                        (click)="toggleItem(i, 'retomar')">
                        <i class="fa fa-sync-alt text-danger"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>